NODE_ENV=development
JWT_ACCESS_SECRET=generate_this_securely
JWT_REFRESH_SECRET=generate_this_securely
JWT_ACCESS_TOKEN_LIFETIME=15m
JWT_REFRESH_TOKEN_LIFETIME=7d
PORT=3000
MONGODB_URI=uri_to_mongo_server
